/* app css stylesheet */

body {
  padding-top: 20px;
}

.contacts {
  list-style: none;
}

.contacts li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

td, th{
	padding-left: 5px;
	padding-right: 5px;
}


