<form name="contactForm">
	<div>
		<label>Name</label> <input type="text" name="name"
			ng-model="contactName">
	</div>
	<div>
		<label>Email</label> <input type="text" name="email"
			ng-model="contactEmail">
	</div>
	<div>
		<label>Location</label> <input type="text" name="location"
			ng-model="contactLocation">
	</div>
	<div>
		<label>Number</label> <input type="text" name="number"
			ng-model="contactNumber">
	</div>
	
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save()" class="btn btn-primary">Save</button>
  <!-- Perhaps add this in another time? currently wanting the form ot be filled in! -->
  <!--  <button ng-click="destroy()" class="btn btn-danger">Delete</button>  -->
</form>