<div class="container-fluid">
	<div>
		
		<p>Create new contact: <a href="#/create"><img src="img/edit-add-2.png"></a></p>
	</div>
	<div class="row">
		<div class="col-md-4">
			Search: <input ng-model="query">
			Sort by:
			<select ng-model="orderProp">
			<option value="id">ID</option>
				<option value="name">Name</option>
				<option value="location">location</option>
				<option value="primary">phone</option>
				<option value="email">email</option>
			</select>
		</div>
		<div class="col-md-10">
		<table>
			
				<tr>				
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Location</th>
					<th>Number</th>
					<th>view</th>
					<th>delete</th>
				</tr>
		
			<tbody>
				<tr ng-repeat="contact in contacts | filter: query | orderBy:orderProp">
					<td>{{contact.id}}</td>
					<td>{{contact.name}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.location}}</td>
					<td>{{contact.primary}}</td>
					<td><a href="#/contacts/{{contact.id}}"><img src="img/user-properties.png"></a></td>
					<td><img ng-click="destroy(contact.id)" src="img/edit-delete-2.png"></a></td>
					
				</tr>
			</tbody>
		</table>
		
		
		
		
		
		
		
		
		<!-- 
			<ul class="contacts">
				<li ng-repeat="contact in contacts | filter: query | orderBy:orderProp">
					<a href="#/contacts/{{contact.name}}">{{contact.name}}</a>
				</li>
			</ul>
			-->
		</div>
	</div>
</div>