<form name="contactForm">
	<!-- 
		We use the values stored in the global scope to populate the input boxes. 
		ng-model indicates to bind the input to the property contactName in the global scope.
		This means the controller can set the name on loading, but also get the name when an action
		needs to be performed. 
	 -->
	<div>
		<label>Name</label> <input type="text" name="name"
			ng-model="contactName">
	</div>
	<div>
		<label>Email</label> <input type="text" name="email"
			ng-model="contactEmail">
	</div>
	<div>
		<label>Location</label> <input type="text" name="location"
			ng-model="contactLocation">
	</div>
	<div>
		<label>Number</label> <input type="text" name="number"
			ng-model="contactNumber">
	</div>
	<!-- on cancel click set the url to blank, this will go back to the list view -->
	<a href="#/" class="btn">Cancel</a>
	<!-- Call the save method in the controller to perform the required action -->
	<button ng-click="save()" class="btn btn-primary">Save</button>
	<!-- 
		Call the destroy method in the controller. 
		Show if deleteShow in the global scope is true. If its not set it will not show
		-->
	<button ng-click="destroy()" class="btn btn-danger" ng-show="deleteShow">Delete</button> 
</form>